**devel/
**logs/
**build/
**bin/
**lib/
**build_isolated/
**devel_isolated/

# Mac stuff
**.DS_Store

# eclipse stuff
**.project
**.cproject

# VSCode stuff
**.vscode/

# Catkin custom files
**CATKIN_IGNORE
