<launch>
  <!-- Control topic to publish to -->
  <arg name="control_topic" default="/control/control"/>
  <!-- Cone topic to subscribe to -->
  <arg name="cone_topic" default="/perception/cone_image_map"/>
  <!-- Display cone recognition -->
  <arg name="display" default="false"/>

  <!-- Use bag file -->
  <arg name="use_bag" default="false"/>
  <!-- Use arduino -->
  <arg name="use_arduino" default="true"/>
  <group if="$(eval not use_bag and use_arduino)">
    <include file="$(find arduino_interface)/launch/arduino_interface.launch">
        <arg name="control_topic" value="$(arg control_topic)"/>
    </include>
  </group>

  <!-- Include thresholding launch file -->
  <include file="$(find point_cloud_thresholder)/launch/point_cloud_thresholder.launch">
    <arg name="cone_topic" value="$(arg cone_topic)"/>
    <arg name="use_bag" value="$(arg use_bag)"/>
    <arg name="display" value="$(arg display)"/>
  </include>

  <group ns="control">
    <group ns="flat_image">
      <!-- Launch control node -->
      <node pkg="centerline_follower" type="centerline_follower" name="centerline_follower" output="screen" required="true">
        <param name="control_topic" value="$(arg control_topic)"/>
        <param name="cone_topic" value="$(arg cone_topic)"/>
      </node>
    </group>
  </group>
  </launch>
